div{
    width : 20px;
    height: 20px;
    border: 2px dotted black;
    border-radius: 50%;
    background : white;
    animation : rotate 2s infinite;
}
@keyframes rotate{
    from{
        transform : rotateZ(0deg);
    }
    to{
        transform : rotateZ(360deg);
    }
}